.panel.ingredientsformpanel
  .row
    .ingredientstitle
      = 'Add Ingredient'
    .ingredientstitle
      = 'Ingredient List'
  .row
    .small-3.columns
      = form_for @ingredient, :remote => true do |f|
        = f.label 'Ingredient name'
        = f.text_field :name
        = f.label 'Units - eg grams, ml'
        = f.text_field :units
        = f.label 'Bought quantity, ie for a 300g packet, enter "300"'
        = f.text_field :std_unit_quantity
        = f.label 'How much does usually cost you?'
        = f.text_field :cost_per_unit
        = f.submit 'Add Ingredient', :class => 'recipezybtn_recipenav'
    .small-2.columns
    .small-7.columns
      #ingredients_list
        = render(:partial => 'ingredients')
